<div class="row">
	<div class="col-md-4">
		<div class="imagen">
			<img src="http://playradio.es/wp-content/uploads/2016/04/queen-ii-photo-session-in-late-1973.jpg" alt="The Beatles"/>
		</div>
	</div>

	<div class="col-md-8">
		<div class="texto">
			<h1> Queen</h1>
			<p>Queen es una banda británica de rock formada en 1970 en Londres por el cantante Freddie Mercury, el guitarrista Brian May, el baterista Roger Taylor y el bajista John Deacon. Si bien el grupo ha presentado bajas de dos de sus miembros (Mercury, fallecido en 1991, y Deacon, retirado en 1997), los integrantes restantes, May y Taylor, continúan trabajando bajo el nombre Queen, por lo que la banda aún es considerada activa.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="video">
		<iframe width="100%" height="380" src="https://www.youtube.com/embed/-tJYN-eG1zk" frameborder="0" allowfullscreen></iframe>
	</div>
</div>