<div class="row">
	<div class="col-md-4">
		<div class="imagen">
			<img src="http://vignette3.wikia.nocookie.net/thebeatles/images/4/42/Beatles_-_Abbey_Road.jpg/revision/latest?cb=20090906183408&path-prefix=es" alt="The Beatles"/>
		</div>
	</div>

	<div class="col-md-8">
		<div class="texto">
			<h1> The Beatles </h1>
			<p>The Beatles fue una banda de pop/rock inglesa activa durante la década de 1960, y reconocida como la más exitosa comercialmente y la más alabada por la crítica en la historia de la música popular. Formada en Liverpool, estuvo constituida desde 1962 por John Lennon (guitarra rítmica, vocalista), Paul McCartney (bajo, vocalista), George Harrison (guitarra solista, vocalista) y Ringo Starr (batería, vocalista). Enraizada en el skiffle y el rock and roll de los años 1950, la banda trabajó más tarde con distintos géneros musicales, que iban desde las baladas pop hasta el rock psicodélico, incorporando a menudo elementos clásicos, entre otros, de forma innovadora en sus canciones. La naturaleza de su enorme popularidad, que había emergido primeramente con la moda de la «Beatlemanía», se transformó al tiempo que sus composiciones se volvieron más sofisticadas. Llegaron a ser percibidos como la encarnación de los ideales progresistas, extendiendo su influencia en las revoluciones sociales y culturales de la década de 1960.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="video">
		<iframe width="100%" height="380" src="https://www.youtube.com/embed/NCtzkaL2t_Y" frameborder="0" allowfullscreen></iframe>
	</div>
</div>