<div class="row">
	<div class="col-md-4">
		<div class="imagen">
			<img src="http://3.bp.blogspot.com/_N0QwxalPdb8/S8iH0WxXW4I/AAAAAAAAC2s/u4dg3r1g8K4/s1600/rolling-stones-three-of-these-things-belong-together-beauty-boomer.jpg" alt="The Rolling Stones"/>
		</div>
	</div>

	<div class="col-md-8">
		<div class="texto">
			<h1> The Rolling Stones </h1>
			<p>The Rolling Stones es una banda británica de rock originaria de Londres. La banda se fundó en abril de 19622 por Brian Jones, Mick Jagger, Keith Richards, Bill Wyman, Ian Stewart y Charlie Watts.2 Brian Jones fue despedido en junio de 1969, falleciendo tres semanas después, siendo reemplazado por el guitarrista Mick Taylor, que dejaría el grupo en 1975 y sería a su vez reemplazado por Ron Wood. Con el retiro de Bill Wyman en 1993 se incluyó al bajista Darryl Jones que, aunque toca con la banda desde la grabación del álbum Voodoo Lounge en 1994, no es un miembro oficial.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="video">
		<iframe width="100%" height="380" src="https://www.youtube.com/embed/qEuV82GqQnE" frameborder="0" allowfullscreen></iframe>
	</div>
</div>